<!DOCTYPE html>
<html lang="en">

<head>
  <title>Password Keeper</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h1>Have fun! 🥔</h1>
  <div>
    <script src="../public/scripts/header.js"></script>

    <% for (let entry of passwords){ %>
      <a></a>
      <h3>
        <!-- All the keys for reference -->
        <!-- <%= Object.keys(entry) %>  -->

        <!-- <%= Object.keys(entry) %>All the keys for reference -->
        <%= entry.username %>
        <%= entry.url %>
        <%= entry.email %>
        <%= entry.password %>
        <%= entry.category %>
      </h3>
    <%}%>

    <input type="text" name="" placeholder="Create Password" id="pw-entry">
    <table>
      <div>
      <a id="pw-generate" class="" >Generate</a>
      <input type="text" id="pw-length" placeholder="Length">
      <a>Include Lowercase</a>
      <input type="checkbox" id="pw-lowercase">
      <a>Include Uppercase</a>
      <input type="checkbox" id="pw-uppercase">
      <a>Include Numbers</a>
      <input type="checkbox" id="pw-number">
      <a>Include Symbols</a>
      <input type="checkbox" id="pw-symbol">

      </div>

      <a  id="pw-copy" class="btn2" onclick="copyPassword()">Copy</a>
    </table>
    <h2>
      <a href="/">Back to Index</a>
    </h2>
    <table>
      <th><div id="button" class="btn1"onclick="genPassword()">Generate</div></th>
      <th><a  id="button" class="btn2" onclick="copyPassword()">Copy</a></th>
   </table>
  </div>
</body>

</html>
