<!DOCTYPE html>
<html lang="en">

<head>
  <title>Password Keeper</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" /> -->
  <!-- <link rel="stylesheet" href="/styles/layout.css" /> -->

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <link rel="stylesheet" href="/styles/password.css" />

</head>
<!-- NAV BAR-->

<body>
  <header>
    <div class="nav-left">PasswordKeepr</div>
    <div id="nav-right">
      <% if (user) { %>
        <form class="logout-button" action="/logout" method="POST">
          <label>Logged in as: <%- user %></label>
          <button class="btn btn-outline-dark" type="submit" style="margin: 0.5em;">Logout</button>
        </form>
        <% } else { %>
          <a href="/login" class="nav-link" style="margin: 0.5em;">Login</a>
          <% } %>
    </div>
  </header>
  </nav>

  <!-- END OF NAV BAR-->

  <!-- Start of Password Generator Box-->
  <div class="main">
    <h1>Generate Your Password!</h1>
    <div class="password-gen">
      <textarea id="genpass"></textarea>
      <button id="copy-genpass">Copy</button>
    </div>
    <div class="create-pass">
      <div class="input">
        <label>Length of Password</label>
        <input type="range" id="pw-lengths" min="5" max="25" step="1" />
        <span id="range-val"></span>
      </div>
      <div class="input">
        <label>Include Numbers</label>
        <input type="checkbox" id="pw-numbers" />
      </div>
      <div class="input">
        <label>Include Lower Case</label>
        <input type="checkbox" id="pw-lowercases" />
      </div>
      <div class="input">
        <label>Include Upper Case</label>
        <input type="checkbox" id="pw-uppercases" />
      </div>
      <div class="input">
        <label>Include Symbols</label>
        <input type="checkbox" id="pw-symbols" />
      </div>
    </div>
    <br>
    <button id="gen-button">Generate!</button>
  </div>
  <!-- End of Password Generator Box-->
<br>
  <!-- Start of Submit Form -->
  <form id="create-password" action="/passwords" method="POST">
    <label>Insert URL</label>
    <input type="text" name="url" id="url-entry">
    <label>Username</label>
    <input type="text" name="username" id="username-entry">
    <label>E-mail</label>
    <input type="text" name="email" id="email-entry">
    <label>Password</label>
    <input type="text" name="password" id="pw-entry">
    <label>Category</label>
    <input type="text" name="category" id="pw-category">
    <button type="submit" id="new-pw-submit"><strong>Add</strong></button>
  </form>
<br>
  <div class="allpasswords">
    <table id='pass-table'>
      <thead>
        <tr>
          <th>Username</th>
          <th>URL</th>
          <th>E-mail</th>
          <th>Password</th>
          <th>Category</th>
        </tr>
      </thead>
      <% for (let entry of passwords){ %>
        <tr>
          <td>
            <%= entry.username %>
          </td>
          <td>
            <%= entry.url %>
          </td>
          <td>
            <%= entry.email %>
          </td>
          <td id="db-retrieved-pw">
            <%= entry.password %>
          </td>
          <td>
            <%= entry.category %>
          </td>
          <td><button id="pw-edit">Edit</button></td>
          <td><button id='pw-db-copy'>Copy</button></td>
          <td><button class="delete-btn">Delete</button></td>
        </tr>
        <%}%>
          <tr class="newestPw"></tr>

    </table>
  </div>
</body>

</html>
